body{
    margin: 200px 0 0 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-image: url("assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(80, 30, 128);
    background-attachment: fixed;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

body, *{
    color: white;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode'; 
}

:root{
    --light-black: rgba(0, 0, 0, 0.295);
    --black: rgb(0, 0, 0);
    --gradient: linear-gradient(314.74deg, #AC00FD 20.7%, rgba(146, 34, 199, 0.51) 45.76%), 
    linear-gradient(120.02deg, rgba(255, 0, 153, 0.56) 12.96%, rgba(255, 0, 199, 0.2576) 31.59%), #1400FF;
}

span{
    font-size: smaller ;
}

.contain{
   height: auto;
   padding: 25px;
   box-sizing: border-box;
   border-radius: 20px;
}

.gradient{
    background: var(--gradient);
}

#hideText{
    display: none;
}

.light{
    background-color: var(--light-black);
}

#header{
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    top: 0;
    height: 150px;
}

#header p{
    margin-bottom: 15px;
}

img{
    width: auto;
    height: auto;
}

.line{
    width: 100%;
    height: 2px;
    background: var(--gradient);
    margin-bottom: 15px;
}

pre code{
    padding: 15px;
    height: 150px;
}

ul{
    list-style-type: none;
    text-align: justify;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

li{
    background: var(--gradient);
    border-radius: 20px;
    padding: 10px;
    transition: 0.6s;
    transition-timing-function: linear;
    height: 40px;
    width: 20%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li p{
    visibility: hidden;
    text-align: justify;
}

li:hover p{
    visibility: visible;
    transition-delay: 0.5s;
    font-size: 10px;
}

li:hover{
    height: 130px;
}
a, img{
    transition: all 200ms ease-out;
}
a:hover img{
    box-shadow: 1px 1px 10px rgb(255, 0, 234);
}

b{
    font-weight: lighter;
    font-size: 12px;
}

@media only screen and (max-width: 1580px) {
    li p{
        font-size: 11px;
    }

    li:hover{
        height: 160px;
    }
}

main{
    box-sizing: border-box;
    padding: 35px;
    display: grid;
    grid-template-columns:  1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 15px;
}

iframe{
    width: 100%;
    height: 320px;
}

section b{
    font-weight: bold;
}

section p{
    font-size: small;
}

.footer{
    margin-top: 100px;
    grid-column: 1/3;
}

.contain-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 50px;
    margin-top: 30px;
}

.contain-img img{
    width: 100%;
    border-radius: 15px;
}
